td.mmf_cell{ padding:0px; }
.mmf_table{ margin:10px 0 0; }
.mmf_table th:first-child, .mmf_table td:first-child{ width:100px; }
.grid-view th:first-child, .grid-view td:first-child{ width:100px; }
.grid-view th:nth-child(2), .grid-view td:nth-child(2){ width:200px; }
#id_section{ display:block; margin-bottom:15px; }
.mmf_row.section textarea{ margin-bottom:20px; }
.instructions.left{ clear:both; width:50%; float:left; }
.instructions.right{ width:45%; float:right; padding:20px 15px 15px; }
.instructions.right.first{ padding-top:40px; }
