td.mmf_cell{ padding:0px; }
.mmf_table{ margin:10px 0 0; }
.mmf_table th, .mmf_table thead td label{ font-size:.8em !important; }
.mmf_table thead td label{ font-weight:normal !important; }
.mmf_table th:first-child, .mmf_table td:first-child{ width:16%; }
.mmf_table th:last-child{ background:transparent; }
.mmf_table.yields{ background:white; z-index:10; margin:0; padding-top:10px; border-bottom:1px solid lightgrey; }
.mmf_table input, .mmf_table textarea{ width:auto; }
.mmf_table td{ padding:0 18px 0 6px; }
.mmf_table td textarea, .mmf_table td input{ width:100%; }
.grid-view th:first-child, .grid-view td:first-child{ width:100px; }
.grid-view th:nth-child(2), .grid-view td:nth-child(2){ width:200px; }
#id_section{ display:block; margin-bottom:15px; }
.mmf_row.section textarea{ margin-bottom:20px; }
.instructions.left{ clear:both; width:50%; float:left; }
.instructions.right{ width:45%; float:right; padding:20px 15px 15px; }
.instructions.right.first{ padding-top:40px; }
#ingredientView td:first-child:first-letter{ text-transform:uppercase; }
#ingredientView td, #ingredientView th{ padding:2px 2px 2px 6px; }

#ingredientView table, #ingredientView tbody, #ingredientView tr, #ingredientView td{ vertical-align:top !important; border:0; background:transparent; }
.mmf_table th:first-child, .mmf_table td:first-child,
#ingredientView th:first-child, #ingredientView td:first-child{ width:20%; }
.mmf_table th:nth-child(2), .mmf_table td:nth-child(2),
.mmf_table th:nth-child(3), .mmf_table td:nth-child(3),
.mmf_table th:nth-child(4), .mmf_table td:nth-child(4),
.mmf_table th:nth-child(5), .mmf_table td:nth-child(5),
.mmf_table th:nth-child(6), .mmf_table td:nth-child(6),
#ingredientView th:nth-child(2), #ingredientView td:nth-child(2),
#ingredientView th:nth-child(3), #ingredientView td:nth-child(3),
#ingredientView th:nth-child(4), #ingredientView td:nth-child(4),
#ingredientView th:nth-child(5), #ingredientView td:nth-child(5),
#ingredientView th:nth-child(6), #ingredientView td:nth-child(6){ width:10%; }
.mmf_table th:last-child, .mmf_table td:last-child,
#ingredientView th:last-child, #ingredientView td:last-child{ width:auto !important; }
#ingredientView tbody tr:first-child{ display:none; }
#ingredientView thead td p{ font-size:.75em; margin:0; }
#ingredientView td.extrarow{ text-indent:-9999px; border-bottom:1px solid #CCC; line-height:0 !important; }

#indexView h3{ margin-bottom:0; line-height:32px; }
#indexView h3 a{ color:black; }

#ingredientView td h5{ margin:0; }
#ingredientView tbody{ border-top:2px solid black; }
#ingredientView th, #ingredientView tbody td{ border-right:1px solid lightgrey; }
#ingredientView th:first-child, #ingredientView tbody td:first-child{ border-right:2px solid black; }
#ingredientView th:last-child, #ingredientView tbody td.merge{ border-right:none; }
#yw1 th, #yw1 td{ border-top:none; }
#ingredientView td p:last-child{ margin-bottom:0; }
#ingredientView td{ padding-left:16px; text-indent:-10px; }
h1 a{ color:black; }
h1 a:hover{ text-decoration:none; }
#Recipe_description{ width:auto }
